.filter {
        background-color: $blue-60;
        margin: 0 5px 0 0;
        outline: 0;
        border: 0;
        border-radius: 15px;
        padding: 5px;
        color: $white;
}

.filter::-webkit-input-placeholder {
  color: $white;
}
